.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: spinHorizontal 0.6s ease-in-out 1s;
    transition: transform 0.2s ease-in-out;
  }
  .App-logo:hover {
    transform: scale(1.05);
  }
}

.App-header {
  opacity: 0.8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

/* horizontal spin */
@keyframes spinHorizontal {
  0% { transform: rotateY(0deg); }
  50% {
    transform: rotateY(20deg);
  }
  100% { transform: rotateY(0deg); }
}
